USE [master]
GO
/****** Object:  Database [GanaControl]    Script Date: 15/09/2025 3:10:40 p. m. ******/
CREATE DATABASE [GanaControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GanaControl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GanaControl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GanaControl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GanaControl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GanaControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GanaControl]
GO
/****** Object:  Table [dbo].[ganado]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ganado](
	[cod_res] [varchar](12) NOT NULL,
	[raza] [varchar](12) NOT NULL,
	[genero] [varchar](8) NOT NULL,
	[estado_salud] [varchar](12) NOT NULL,
	[estado_repro] [varchar](12) NOT NULL,
	[fecha_naci] [date] NOT NULL,
	[peso] [varchar](20) NOT NULL,
	[origen] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_res] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacunaciones]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacunaciones](
	[cod_vacun] [varchar](12) NOT NULL,
	[fecha] [date] NOT NULL,
	[tipo_vacuna] [varchar](12) NOT NULL,
	[observaciones] [varchar](150) NOT NULL,
	[cod_res] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_vacun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SaludGanado]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Vista de salud del ganado con vacunas
CREATE VIEW [dbo].[vw_SaludGanado] AS
SELECT g.cod_res, g.raza, g.genero, g.estado_salud, v.tipo_vacuna, v.fecha, v.observaciones
FROM ganado g
LEFT JOIN vacunaciones v ON g.cod_res = v.cod_res;
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[cod_factu] [varchar](12) NOT NULL,
	[metodo_pago] [varchar](15) NOT NULL,
	[fecha_emi] [date] NOT NULL,
	[monto_pagado] [varchar](15) NOT NULL,
	[cod_venta] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_factu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produccion]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produccion](
	[cod_produc] [varchar](12) NOT NULL,
	[tipo_produc] [varchar](10) NOT NULL,
	[fecha] [date] NOT NULL,
	[cantidad] [varchar](20) NOT NULL,
	[cod_res] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_produc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[cod_venta] [varchar](12) NOT NULL,
	[cliente] [varchar](50) NOT NULL,
	[cantidad] [varchar](20) NOT NULL,
	[precio_uni] [varchar](15) NOT NULL,
	[total] [varchar](15) NOT NULL,
	[fecha_emi] [date] NOT NULL,
	[cod_produc] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProduccionVentas]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista de producción y ventas con facturación
CREATE VIEW [dbo].[vw_ProduccionVentas] AS
SELECT p.cod_produc, p.tipo_produc, p.fecha AS fecha_produccion, p.cantidad AS cantidad_producida,
       v.cod_venta, v.cliente, v.cantidad AS cantidad_vendida, v.total, f.cod_factu, f.metodo_pago, f.monto_pagado
FROM produccion p
LEFT JOIN ventas v ON p.cod_produc = v.cod_produc
LEFT JOIN facturas f ON v.cod_venta = f.cod_venta;
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[cod_item] [varchar](12) NOT NULL,
	[tipo] [varchar](12) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[ubicacion] [varchar](max) NOT NULL,
	[estado] [varchar](10) NOT NULL,
	[motivo] [varchar](12) NOT NULL,
	[destino] [varchar](25) NOT NULL,
	[fecha_ingre] [date] NULL,
	[fecha_salida] [date] NULL,
	[responsable] [varchar](50) NOT NULL,
	[cod_factu] [varchar](12) NULL,
	[cod_venta] [varchar](12) NULL,
	[cod_res] [varchar](12) NULL,
	[doc_iden] [varchar](12) NULL,
	[cod_noved] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[novedades_inventario]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novedades_inventario](
	[cod_noved] [varchar](12) NOT NULL,
	[tipo_noved] [varchar](10) NOT NULL,
	[fecha] [date] NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[evidencia] [varchar](max) NOT NULL,
	[registrada_por] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_noved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_InventarioDetallado]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista de inventario con novedades
CREATE VIEW [dbo].[vw_InventarioDetallado] AS
SELECT i.cod_item, i.tipo, i.nombre, i.cantidad, i.estado, i.ubicacion, 
       n.tipo_noved, n.descripcion, n.fecha AS fecha_novedad
FROM inventario i
LEFT JOIN novedades_inventario n ON i.cod_noved = n.cod_noved;
GO
/****** Object:  Table [dbo].[alimentacion]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alimentacion](
	[cod_alimen] [varchar](12) NOT NULL,
	[tipo_alimen] [varchar](12) NOT NULL,
	[cantidad] [varchar](15) NOT NULL,
	[responsable] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_alimen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raciones_sugeridas]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raciones_sugeridas](
	[cod_racion] [varchar](12) NOT NULL,
	[cantidad_suge] [varchar](20) NOT NULL,
	[veterinario] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[cod_res] [varchar](12) NOT NULL,
	[cod_alimen] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_racion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reproduccion]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reproduccion](
	[cod_evento] [varchar](12) NOT NULL,
	[tipo_evento] [varchar](14) NOT NULL,
	[fecha_evento] [date] NOT NULL,
	[observaciones] [varchar](150) NOT NULL,
	[cod_res] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[cod_rol] [varchar](12) NOT NULL,
	[nombre_rol] [varchar](15) NOT NULL,
	[descripción] [varchar](150) NOT NULL,
	[permisos] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[doc_iden] [varchar](12) NOT NULL,
	[nombres] [varchar](30) NOT NULL,
	[Apellidos] [varchar](20) NOT NULL,
	[nombre_us] [varchar](15) NOT NULL,
	[dirección] [varchar](max) NOT NULL,
	[correo] [varchar](max) NOT NULL,
	[contraseña] [varchar](max) NOT NULL,
	[teléfono] [varchar](15) NOT NULL,
	[cod_rol] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[doc_iden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [FK_facturas_ventas] FOREIGN KEY([cod_venta])
REFERENCES [dbo].[ventas] ([cod_venta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_ventas]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_facturas] FOREIGN KEY([cod_factu])
REFERENCES [dbo].[facturas] ([cod_factu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_facturas]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_ganado] FOREIGN KEY([cod_res])
REFERENCES [dbo].[ganado] ([cod_res])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_ganado]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_novedades] FOREIGN KEY([cod_noved])
REFERENCES [dbo].[novedades_inventario] ([cod_noved])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_novedades]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [FK_inventario_usuario] FOREIGN KEY([doc_iden])
REFERENCES [dbo].[usuario] ([doc_iden])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [FK_inventario_usuario]
GO
ALTER TABLE [dbo].[produccion]  WITH CHECK ADD  CONSTRAINT [FK_produccion_ganado] FOREIGN KEY([cod_res])
REFERENCES [dbo].[ganado] ([cod_res])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[produccion] CHECK CONSTRAINT [FK_produccion_ganado]
GO
ALTER TABLE [dbo].[raciones_sugeridas]  WITH CHECK ADD  CONSTRAINT [FK_raciones_alimentacion] FOREIGN KEY([cod_alimen])
REFERENCES [dbo].[alimentacion] ([cod_alimen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[raciones_sugeridas] CHECK CONSTRAINT [FK_raciones_alimentacion]
GO
ALTER TABLE [dbo].[raciones_sugeridas]  WITH CHECK ADD  CONSTRAINT [FK_raciones_ganado] FOREIGN KEY([cod_res])
REFERENCES [dbo].[ganado] ([cod_res])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[raciones_sugeridas] CHECK CONSTRAINT [FK_raciones_ganado]
GO
ALTER TABLE [dbo].[reproduccion]  WITH CHECK ADD  CONSTRAINT [FK_reproduccion_ganado] FOREIGN KEY([cod_res])
REFERENCES [dbo].[ganado] ([cod_res])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reproduccion] CHECK CONSTRAINT [FK_reproduccion_ganado]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([cod_rol])
REFERENCES [dbo].[rol] ([cod_rol])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
ALTER TABLE [dbo].[vacunaciones]  WITH CHECK ADD  CONSTRAINT [FK_vacunaciones_ganado] FOREIGN KEY([cod_res])
REFERENCES [dbo].[ganado] ([cod_res])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vacunaciones] CHECK CONSTRAINT [FK_vacunaciones_ganado]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarAnimal]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento: Registrar nuevo animal
CREATE PROCEDURE [dbo].[sp_RegistrarAnimal]
  @cod_res VARCHAR(12), @raza VARCHAR(12), @genero VARCHAR(8),
  @estado_salud VARCHAR(12), @estado_repro VARCHAR(12),
  @fecha_naci DATE, @peso VARCHAR(20), @origen VARCHAR(30)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM ganado WHERE cod_res = @cod_res)
    BEGIN
      RAISERROR('El animal ya está registrado.', 16, 1);
      RETURN;
    END
  INSERT INTO ganado (cod_res, raza, genero, estado_salud, estado_repro, fecha_naci, peso, origen)
  VALUES (@cod_res, @raza, @genero, @estado_salud, @estado_repro, @fecha_naci, @peso, @origen);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVacunacion]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento: Registrar vacunación
CREATE PROCEDURE [dbo].[sp_RegistrarVacunacion]
  @cod_vacun VARCHAR(12), @fecha DATE, @tipo_vacuna VARCHAR(12),
  @observaciones VARCHAR(150), @cod_res VARCHAR(12)
AS
BEGIN
  INSERT INTO vacunaciones (cod_vacun, fecha, tipo_vacuna, observaciones, cod_res)
  VALUES (@cod_vacun, @fecha, @tipo_vacuna, @observaciones, @cod_res);

  UPDATE ganado
  SET estado_salud = 'Vacunado'
  WHERE cod_res = @cod_res;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVenta]    Script Date: 15/09/2025 3:10:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento: Registrar venta y factura
CREATE PROCEDURE [dbo].[sp_RegistrarVenta]
  @cod_venta VARCHAR(12), @cliente VARCHAR(50), @cantidad VARCHAR(20),
  @precio_uni VARCHAR(15), @total VARCHAR(15), @fecha_emi DATE, @cod_produc VARCHAR(12),
  @cod_factu VARCHAR(12), @metodo_pago VARCHAR(15), @monto_pagado VARCHAR(15)
AS
BEGIN
  INSERT INTO ventas (cod_venta, cliente, cantidad, precio_uni, total, fecha_emi, cod_produc)
  VALUES (@cod_venta, @cliente, @cantidad, @precio_uni, @total, @fecha_emi, @cod_produc);

  INSERT INTO facturas (cod_factu, metodo_pago, fecha_emi, monto_pagado, cod_venta)
  VALUES (@cod_factu, @metodo_pago, @fecha_emi, @monto_pagado, @cod_venta);
END;
GO
USE [master]
GO
